<div data-component-id="{{id}}" data-scf-component="scf-todo/components/hbs/todos" class="scf scf-todos">
    <h1>todos</h1>
    <div class="scf-todos-box">
        <div class="scf-new-todo-box">
            <input data-attrib = "itemText" placeholder="{{i18n "What needs to be done?"}}" evt="keypress=checkForEnter"/>
        </div>
        <ul class="scf-todos-list">
            {{#each items}}
                {{include this}}
            {{/each}}
        </ul>
        <div class="scf-todos-action-bar">
            <a data-filter="all" class="scf-todos-action-item" evt="click=filter">All</a>
            <a data-filter="active" class="scf-todos-action-item" evt="click=filter">Active</a>
            <a data-filter="done" class="scf-todos-action-item" evt="click=filter">Completed</a>
        </div>
    </div>
</div>
