<div data-component-id="{{id}}" data-scf-component="scf-todo/components/hbs/todos" class="scf scf-todos">
    <h1>todos</h1>
    <div class="scf-todos-box">
        <div class="scf-new-todo-box">
            <input data-attrib = "itemText" placeholder="{{i18n "What needs to be done?"}}" evt="keypress=checkForEnter"/>
        </div>
        <ul class="scf-todos-list">
            {{#each items}}
                {{include this}}
            {{/each}}
        </ul>
    </div>
</div>
