.scf-todos {
    margin: 0 auto;
    text-align: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.scf-todos h1 {
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    margin: 0;
}
.scf-todos .scf-todos-box {
    background: #fff;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    width: 600px;
}
.scf-todos .scf-new-todo-box {
    padding: 16px 16px 16px 16px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    height: 45px;
}
.scf-todos .scf-new-todo-box input {
    margin: 0;
    width: 80%;
    font-size: 24px;
    font-family: inherit;
    font-weight: 100;
    font-style: italic;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    display: inline;
    margin-left: 60px;
    position: absolute;
    left: 20px;
}
.scf-todos .scf-composer-avatar {
    display: inline;
    position: absolute;
    left: 25px;
    top: 22px;
    border-radius: 15px;
}
.scf-todos .scf-todos-list {
    list-style: none;
    padding: 0px;
    text-align: left;
    margin: 0;
    font-weight: 200;
}
.scf-todos .scf-todos-action-bar {
    height: 50px;
    line-height: 50px;
    font-weight: 100;
    font-size: 14px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}
.scf-todos .scf-todos-action-bar .scf-todos-action-item {
    padding: 3px 6px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 0 5px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.scf-todos .scf-todos-action-bar .scf-todos-action-item:hover {
    border: 1px rgba(175, 47, 47, 0.1) solid;
    box-sizing: border-box;
} 
.scf-todos .scf-todos-count {
    float: left;
    margin-left: 25px;
}